.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 40px 20px;
    font-family: "Play", serif;
    background: linear-gradient(135deg, rgba(20, 20, 20, 0.8), rgba(60, 0, 0, 0.8)),
      url("/path/to/your/image.jpg") no-repeat center center;
    background-size: cover;
    color: #ffffff;
    position: relative;
  }
  

  .mainContent {
    display: contents;
    z-index: 1;
    width: 100%;
  }

  .mainTitle {
    font-family: "Play", serif; /* Typographie élégante */
    font-size: 3rem; /* Taille réduite pour mobiles */
    color: #fff; /* Couleur blanche pour contraste */
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8); /* Ombre réduite */
    background: linear-gradient(to right, #ff7e5f, #feb47b); /* Dégradé stylisé */
    -webkit-background-clip: text; /* Applique le dégradé au texte */
    -webkit-text-fill-color: transparent; /* Rend le texte transparent */
    padding: 10px; /* Marges réduites */
    border-left: 4px solid #fff; /* Ligne décorative */
    position: relative; /* Position normale pour mobiles */
    margin: 20px auto; /* Centré horizontalement */
    text-align: center; /* Alignement centré */
    z-index: 1; /* Assure que le texte reste au-dessus des autres éléments */
  }
  
  /* Pour les écrans moyens et grands */
  @media (min-width: 768px) {
    .mainTitle {
      font-size: 2rem; /* Augmentation de la taille du texte */
      padding: 15px 20px; /* Marges ajustées */
      text-align: left; /* Alignement à gauche */
      transform: translateY(-50%); /* Ajustement pour un vrai centrage */
    }
  }
  
  /* Pour les écrans très grands */
  @media (min-width: 1200px) {
    .mainTitle {
      font-size: 3rem; /* Taille optimale pour les grands écrans */
      padding: 20px 30px; /* Marges plus importantes */
      margin-left: 0; /* Suppression de tout décalage horizontal */
    }
  }
  .section {
    border-radius: 8px;
    padding: 20px 30px;
    margin-bottom: 8rem;
    box-shadow: 0 1px 20px rgba(250, 248, 248, 0.925); /* Ombre subtile */
    width: 90%;
    max-width: 1200px;
  }
  
  .sectionTitle {
    font-size: 2.5rem;
    color: #f39c12;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .sectionText {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
  }
  
  .sectionList {
    font-size: 1.2rem;
    line-height: 1.6;
    list-style: none;
    padding: 0;
  }
  
  .sectionList li {
    margin-bottom: 10px;
    border-left: 3px solid #e74c3c; /* Marqueur visuel */
    padding-left: 15px;
  }
  
  .contextCTA {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #e74c3c;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s ease;
    text-align: center;
  }
  
  .contextCTA:hover {
    background: #c0392b;
  }
  